body{
    background-color: black;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p{
    font-family: 'MursGothic-light';

}

li{
    font-family: 'MursGothic-light';
    height: 5em;
}

h1{
    font-family: 'MursGothic-bold', sans-serif;
    font-weight: 1000;
    font-style: normal;
}
h2{
    font-family: 'MursGothic-bold', sans-serif;
    font-weight: 1000;
    font-style: normal;
}

h3{
    font-family: 'MursGothic-bold', sans-serif;
    font-weight: 1000;
    font-style: normal;
}
h4{
    font-family: 'MursGothic-bold', sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
}

@font-face {
    font-family: 'MursGothic-bold'; /* Name you'll use in CSS */
    src: url('/fonts/MursGothic-MassiveBlack.woff2') format('woff2'),
        url('/fonts/MursGothic-KeyDark.woff') format('woff');

    }
@font-face {
    font-family: 'MursGothic-light';
    src: url('/fonts/MursGothic-WideLight.woff2') format('woff2'),
        url('/fonts/MursGothic-WideLight.woff') format('woff');
}

a:link{
    text-decoration: none;
    font-size:x-large;
    font-weight: 1000;
    font-family: 'MursGothic-bold', sans-serif;
    font-style: normal;
}


.buy-item a{
    color: black;
}
.buy-item a:visited{
    color: black;
}

.buy-item:hover{
    scale: 102.5%;
}
.buy-item{
    transition: 0.25s;
    height: 30em;

}



@media screen and (max-width:750px){

nav a{
    color: black;
}
nav a:visited {
    text-decoration: none;
    color: black;
}
nav a:visited {
    text-decoration: none;
    color: black;
}
h3{
    font-size: 1.5rem;
}

#dropbtn {
    font-family: 'MursGothic-bold', sans-serif;
    color: black;
    padding: 16px;
    width: 200px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

#dropbtn:hover{
    scale: 105%;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 200px;
    border: 1px solid #ddd;
    z-index: 1;
    
}  

.dropdown-content button {
    color: black;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}  

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}




#merch{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#merch article{
    width: 100%;

}
.about-img{
    grid-area: abt-img;
    background-image: url(/img/IMG_3749.JPG);
    background-color: white ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
}
.about-box{
    padding-left: 1em;
    grid-area: abt-box;
    background-color: black;
    color: white;
    text-wrap: pretty;
}

.about-box p{
    width: 20em;
}


.image-art{
    grid-area: i-art;
    background-color: white;
    background-image: url(/img/band_bild_alfapet_svart_vit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15em;
}

.menu-button{
    z-index: 100;
    height: 2.5em;
    width: 2.5em;
    background-image: url(/img/hamburger-menu-white.png);
    background-size: contain;
    }

.menu-button img{
    height: 2.5em;
}

.shop-button{
    z-index: 100;
}

.shop-button img{
    height: 2.5em;
}

div#layout-start{
    display: grid;
    height: 10em;
    grid-template-rows: 10em auto auto 10em;
    grid-template-areas:
    'hd'
    'i-art'
    'S-mn'
    'ft';
}

div#layout-about{
    display: grid;
    height: 10em;
    grid-template-rows: 10em auto 10em 10em 10em;
    grid-template-areas:
    'hd'
    'nv'
    'abt-img'
    'abt-box'
    'ft';
}

header{
    position: sticky;
    display: flex;
    flex-direction: row;
    grid-area: hd;
    align-items: center;
    z-index: 100;
    background-color: black;
}
.shop-menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: whitesmoke;
    position: fixed;
    top: 0;
    right: -100em;
    transition: right 0.4s;
    z-index: 100;
    justify-content: space-evenly;
    align-content: center;
}


.menu{
    display: flex;
    flex-direction: column;
    height: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    background: white;
    position: absolute;
    top: -150%;
    left: 0;
    transition: top 0.5s;
    z-index: 10;
    padding-top: 1em;
    width: 110%;
}

div#layout-buy{
    display: grid;
    height: auto;
    grid-template-rows: 10em auto 10em;
    grid-template-areas:
    'hd'
    'A-mn'
    'ft';
}

main#start-main{
    display: flex;
    flex-direction: column;
    grid-area: S-mn;
    background-color: whitesmoke;
    align-content: center;
}
main#start-main h5{
    background-color: black;
    color: white;
    font-family: 'MursGothic-bold', sans-serif;
    font-size: 2.5em;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
}
main#start-main article{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

main#start-main article img{
    width: 100%;
}

main#buy-main article img{
    width: 100%;
}

.logo{
    height: 3rem;
    padding-left: 1em;
    padding-right: 1em;
}

.cart{
    height: 3rem;
}

main#buy-main{
    grid-area: A-mn;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 5em;
    gap: 2.5em;
}



.disable-scroll{
    overflow: hidden;
}

main#buy-main article{
    width: 20em;

}

.info{
    background-image: url(/img/band_bild_konsert_svart-vit.jpg);
    height: 75em;
}



section{
    grid-area: sc;
    background-color: whitesmoke;
    padding: 5vh 2vh;
}
section article{
    width: 100%;
    height: 65vh;
    background-color: white;
}

footer{
    background-color: white;
    grid-area: ft;
    color: black;
    text-align: center;
}
#cart-button{
    border-radius: 5em;
    height: 5em;
    font-family: 'MursGothic-bold', sans-serif;
    background-color: black;
    color: white;
	border: none;
	cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
}

#cart-button:hover{
    scale: 105%;
}


}


@media screen and (min-width:750px){


.image-art{
    grid-area: i-art;
    background-color: white;
    background-image: url(/img/band_bild_alfapet_svart_vit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45em;
}


#dropbtn {
    font-family: 'MursGothic-bold', sans-serif;
    color: black;
    padding: 16px;
    width: 200px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

#dropbtn:hover{
    scale: 105%;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 200px;
    border: 1px solid #ddd;
    z-index: 1;
    
}  

.dropdown-content button {
    color: black;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}  

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.menu-button{
    z-index: 100;
}

.menu-button img{
    height: 2.5em;
}

.shop-button{
    z-index: 100;
}

.shop-button img{
    height: 2.5em;
}

nav a:link:hover{
    scale: 110%;
}
nav a:visited {
    text-decoration: none;
    color: white;
}
nav a{
    color: white;
}

div#layout-start{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em auto auto 10em;
    grid-template-areas:
    'hd'
    'nv'
    'i-art'
    'S-mn'
    'ft';
}
div#layout-about{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em 25em auto 10em;
    grid-template-areas:
    'hd'
    'nv'
    'abt-img'
    'abt-box'
    'ft';
}

#merch{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

#merch article img{
    transition: 0.25s;
    scale: 95%;

}

#merch article img:hover{
    scale: 100%;
}

.about-img{
    grid-area: abt-img;
    background-image: url(/img/IMG_3749.JPG);
    background-color: white ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-box{
    grid-area: abt-box;
    padding-left: 1em;
    background-color: black;
    color: white;
    text-wrap: pretty;
}

.about-box p{
    width: 50em;
}



header{
    background-color: black;
    opacity: 75%;
    display: flex;
    flex-direction: row;
    grid-area: hd;
    align-items: center;
    z-index: 11;
}

.shop-menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: whitesmoke;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.1s;
    z-index: 105;
    justify-content: space-evenly;
    align-content: center;
}

nav{
    color: white;
    top: 0;
    position: sticky;
    display: flex;
    grid-area: nv;
    justify-content: center;
    align-self: center;
    gap: 15em;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    background-color: black;
    opacity: 75%;
    z-index: 100;
    height: 100%;
}

div#layout-buy{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em 75em 10em;
    grid-template-areas:
    'hd'
    'nv'
    'A-mn'
    'ft';
}

main#start-main{
    display: flex;
    flex-direction: column;
    grid-area: S-mn;
    background-color: whitesmoke;
    align-content: center;
}
main#start-main article{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.info{
    background-image: url(/img/band_bild_konsert_svart-vit.jpg);
    height: 75em;
}

main#start-main h5{
    background-color: black;
    color: white;
    font-family: 'MursGothic-bold', sans-serif;
    font-size: 3.5em;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
}

main#start-main article img{
    width: 100%;
    
}
main#buy-main article img{
    width: 100%;

}   

#cart-button{
    border-radius: 5em;
    height: 5em;
    font-family: 'MursGothic-bold', sans-serif;
    background-color: black;
    color: white;
	border: none;
	cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
}

#cart-button:hover{
    scale: 105%;
}

.logo{
    height: 3rem;
    padding-left: 2em;
    padding-right: 2em;
}

.cart{
    height: 3rem;
}

main#buy-main{
    grid-area: A-mn;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 5em 1em;
    gap: 5em;
    color: black;
}

main#buy-main article{
    width: 20em;

}



section article{
    width: 100%;
    height: 65vh;
    
}

footer{
    color: white;
    grid-area: ft;
    background-color: black;
    text-align: center;
    padding-left: 25em;
    padding-right: 25em;
}

}

.fade-layer
{
    height: 100%;
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: black;
    opacity: 10%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.01s;
    z-index: 101;
}

.show-menu{
    top: 10em;
}

.show-shop{
    right: 0%;
}

