body{
    background-color: black;
    margin: 0;
    background-image: url("/img/buy_background.jpg");
}

p{
    font-family: 'MursGothic-light';

}

li{
    font-family: 'MursGothic-light';
}

h1{
    font-family: 'MursGothic-bold', sans-serif;
    font-weight: 1000;
    font-style: normal;
}

h3{
    font-family: 'MursGothic-bold', sans-serif;
    font-weight: 1000;
    font-style: normal;
}
h4{
    font-family: 'MursGothic-bold', sans-serif;
}


@font-face {
    font-family: 'MursGothic-bold'; /* Name you'll use in CSS */
    src: url('/fonts/MursGothic-MassiveBlack.woff2') format('woff2'),
        url('/fonts/MursGothic-KeyDark.woff') format('woff');

    }
@font-face {
    font-family: 'MursGothic-light';
    src: url('/fonts/MursGothic-WideLight.woff2') format('woff2'),
        url('/fonts/MursGothic-WideLight.woff') format('woff');
}

a:link{
    text-decoration: none;
    font-size:x-large;
    font-weight: 1000;
    font-family: 'MursGothic-bold', sans-serif;
    font-style: normal;
}


.buy-item a{
    color: black;
}
.buy-item a:visited{
    color: black;
}


@media screen and (max-width:750px){

nav a:visited {
    text-decoration: none;
    color: black;
}
h3{
    font-size: 1.5rem;
}


.image-art{
    grid-area: i-art;
    background-color: white;
    height: 100%;
}

.image-art img{
    height: 100%;
    width: 100%;
}

.menu-button{
    z-index: 100;
    height: 2.5em;
    width: 2.5em;
    background-image: url(/img/hamburger-menu.png);
    background-size: contain;
    }

.menu-button img{
    height: 2.5em;
}

.shop-button{
    z-index: 100;
}

.shop-button img{
    height: 2.5em;
}

div#layout-start{
    display: grid;
    height: 10em;
    grid-template-rows: 10em auto auto 20em;
    grid-template-areas:
    'hd'
    'i-art'
    'S-mn'
    'ft';
}

header{
    position: sticky;
    display: flex;
    flex-direction: row;
    grid-area: hd;
    align-items: center;
    z-index: 100;
    opacity: 75%;
}
.shop-menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: whitesmoke;
    position: fixed;
    top: 0;
    right: -100em;
    transition: right 0.4s;
    z-index: 12;
    justify-content: space-evenly;
    align-content: center;
}


.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: white;
    position: fixed;
    top: -150%;
    left: 0;
    transition: top 0.5s;
    z-index: 10;
    padding-left: 1em;
}

div#layout-buy{
    display: grid;
    height: auto;
    grid-template-rows: 10em auto 20em;
    grid-template-areas:
    'hd'
    'A-mn'
    'ft';
}

main#start-main{
    display: flex;
    flex-direction: column;
    grid-area: S-mn;
    background-color: whitesmoke;
    align-content: center;
    gap: 5em;
    padding: 2em 1em;
}


main#start-main article img{
    width: 100%;
}

main#buy-main article img{
    width: 100%;
}

.logo{
    height: 3rem;
    padding-left: 2em;
    padding-right: 2em;
}

.cart{
    height: 3rem;
}

main#buy-main{
    grid-area: A-mn;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 5em;
    gap: 2.5em;
}



.disable-scroll{
    overflow: hidden;
}

main#buy-main article{
    width: 20em;

}



section{
    grid-area: sc;
    background-color: whitesmoke;
    padding: 5vh 2vh;
}
section article{
    width: 100%;
    height: 65vh;
    background-color: white;
}

footer{
    grid-area: ft;
    
}

}


@media screen and (min-width:750px){


.image-art{
    grid-area: i-art;
    background-color: white;
    height: 100%;
}

.image-art img{
    height: 100%;
    width: 100%;
}

#dropbtn {
    font-family: 'MursGothic-bold', sans-serif;
    color: black;
    padding: 16px;
    width: 200px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }
/* Dropdown button on hover & focus */
#dropbtn:hover{
    scale: 105%;
    }


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}  
  /* Links inside the dropdown */
.dropdown-content button {
    color: black;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.menu-button{
    z-index: 100;
}

.menu-button img{
    height: 2.5em;
}

.shop-button{
    z-index: 100;
}

.shop-button img{
    height: 2.5em;
}

nav a:link:hover{
    scale: 110%;
}
nav a:visited {
    text-decoration: none;
    color: white;
}

div#layout-start{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em auto auto 20em;
    grid-template-areas:
    'hd'
    'nv'
    'i-art'
    'S-mn'
    'ft';
}

header{
    background-color: black;
    opacity: 75%;
    display: flex;
    flex-direction: row;
    grid-area: hd;
    align-items: center;
    z-index: 11;
}

.shop-menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: whitesmoke;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.1s;
    z-index: 12;
    justify-content: space-evenly;
    align-content: center;
}

nav{
    color: white;
    top: 0;
    position: sticky;
    display: flex;
    grid-area: nv;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    background-color: black;
    opacity: 75%;
    height: 100%;
}

div#layout-buy{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em 75em 10em;
    grid-template-areas:
    'hd'
    'nv'
    'A-mn'
    'ft';
}

main#start-main{
    display: flex;
    flex-direction: column;
    grid-area: S-mn;
    background-color: whitesmoke;
    align-content: center;
}
main#start-main article{
    
    background-image: url(/img/band_bild_alfapet_svart_vit.jpg);
    color: white;
}

main#start-main h5{
    background-color: white;
    color: black;
    font-family: 'MursGothic-bold', sans-serif;
    font-size: 5em;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
}

main#start-main article img{
    width: 100%;
    
}
main#buy-main article img{
    width: 100%;

}   



.logo{
    height: 3rem;
    padding-left: 2em;
    padding-right: 2em;
}

.cart{
    height: 3rem;
}

main#buy-main{
    grid-area: A-mn;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 5em 1em;
    gap: 5em;
    color: black;
}

main#buy-main article{
    width: 20em;

}



section article{
    width: 100%;
    height: 65vh;
    
}

footer{
    color: white;
    grid-area: ft;
    background-color: black;
    opacity: 75%;
}

}

.fade-layer
{
    height: 100%;
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: black;
    opacity: 10%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.01s;
    z-index: 11;
}

.show-menu{
    top: 10em;
}

.show-shop{
    right: 0%;
}

