body{
    background-color: white;
    margin: 0;

}

p{
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

@media screen and (max-width:750px){


h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

.image-art{
    grid-area: i-art;
    background-color: white;
    height: 100%;
}

.image-art img{
    height: 100%;
    width: 100%;
}

.menu-button{
    z-index: 100;
    height: 2.5em;
    width: 2.5em;
    background-image: url(/img/hamburger-menu.png);
    background-size: contain;
    }

.menu-button img{
    height: 2.5em;
}

.shop-button{
    z-index: 100;
}

.shop-button img{
    height: 2.5em;
}

div#layout-start{
    display: grid;
    height: 10em;
    grid-template-rows: 10em auto auto 20em;
    grid-template-areas:
    'hd'
    'i-art'
    'S-mn'
    'ft';
}

header{
    display: flex;
    flex-direction: row;
    grid-area: hd;
    background-color: white;
    align-items: center;
    z-index: 11;
}
.shop-menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: whitesmoke;
    position: fixed;
    top: 0;
    right: -100em;
    transition: right 0.4s;
    z-index: 12;
    justify-content: space-evenly;
    align-content: center;
}


.menu{
    display: flex;
    flex-direction: column;
    height: 50em;
    width: 100em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: white;
    position: fixed;
    top: -150%;
    left: 0;
    transition: top 0.5s;
    z-index: 10;
    padding-left: 1em;
}

div#layout-buy{
    display: grid;
    height: auto;
    grid-template-rows: 10em auto 20em;
    grid-template-areas:
    'hd'
    'A-mn'
    'ft';
}

main#start-main{
    display: flex;
    flex-direction: column;
    grid-area: S-mn;
    background-color: whitesmoke;
    align-content: center;
    gap: 5em;
    padding: 2em 1em;
}


main#start-main article img{
    width: 100%;
}

main#buy-main article img{
    width: 100%;
}

.logo{
    height: 3rem;
    padding-left: 2em;
    padding-right: 2em;
}

.cart{
    height: 3rem;
}

main#buy-main{
    grid-area: A-mn;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 5em;
    gap: 2.5em;
}



.disable-scroll{
    overflow: hidden;
}

main#buy-main article{
    width: 20em;

}



section{
    grid-area: sc;
    background-color: whitesmoke;
    padding: 5vh 2vh;
}
section article{
    width: 100%;
    height: 65vh;
    background-color: white;
}

footer{
    grid-area: ft;
    background-color: white;

}

}


@media screen and (min-width:750px){

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

.image-art{
    grid-area: i-art;
    background-color: white;
    height: 100%;
}

.image-art img{
    height: 100%;
    width: 100%;
}

.menu-button{
    z-index: 100;
}

.menu-button img{
    height: 2.5em;
}

.shop-button{
    z-index: 100;
}

.shop-button img{
    height: 2.5em;
}

nav a:link:hover{
    scale: 110%;
}


div#layout-start{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em auto auto 20em;
    grid-template-areas:
    'hd'
    'nv'
    'i-art'
    'S-mn'
    'ft';
}

header{
    display: flex;
    flex-direction: row;
    grid-area: hd;
    background-color: white;
    align-items: center;
    z-index: 11;
}

.shop-menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: whitesmoke;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.1s;
    z-index: 12;
    justify-content: space-evenly;
    align-content: center;
}

nav{
    display: flex;
    grid-area: nv;
    display: row;
    justify-content: space-evenly;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;

}

div#layout-buy{
    display: grid;
    height: auto;
    grid-template-rows: 10em 5em 75em 10em;
    grid-template-areas:
    'hd'
    'nv'
    'A-mn'
    'ft';
}

main#start-main{
    display: flex;
    flex-direction: column;
    grid-area: S-mn;
    background-color: whitesmoke;
    align-content: center;
    gap: 10em;
    padding: 5em 25em;
}
main#start-main article{
    
    width: 100%;
    background-color: white;

}
main#start-main article img{
    width: 100%;
}
main#buy-main article img{
    width: 100%;

}   



.logo{
    height: 3rem;
    padding-left: 2em;
    padding-right: 2em;
}

.cart{
    height: 3rem;
}

main#buy-main{
    grid-area: A-mn;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    padding: 5em 1em;
    gap: 5em;
}

main#buy-main article{
    width: 20em;

}



section article{
    width: 100%;
    height: 65vh;
    background-color: white;
}

footer{
    grid-area: ft;
    background-color: white;

}

}

.fade-layer
{
    height: 100%;
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background: black;
    opacity: 10%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.01s;
    z-index: 11;
}

.show-menu{
    top: 9em;
}

.show-shop{
    right: 0%;
}

